.body {
  /* margin-right: -150px; */
}

.input {
  margin-right: 15px;
  padding: 10px;
  border-radius: 5px;
}
.button {
  background-color: pink;
  color: purple;
  border: 0px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
  margin: 25px 0;
  margin-left: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: aliceblue;
}

@media screen and (max-width: 800px) {
  .input {
    margin-top: 20px;
  }
}
